@import '../../styles/colors';

.main-page {
    &__account-details {
        background-color: $mainDarkBg;
        height: 392px;
        padding: 16px 20px 28px;

        &-top-panel {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        &-network {
            background: rgba(255, 255, 255, 0.16);
            border-radius: 91px;
            color: $windowBg;
            cursor: pointer;
            display: flex;
            justify-content: center;
            height: 30px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.75px;
            line-height: 20px;
            padding: 5px 10px;
        }

        &-buttons {
            display: flex;
        }
        &-button {
            display: flex;
            background: rgba(197, 228, 243, 0.1);
            flex-direction: row;
            justify-content: center;
            align-content: center;

            position: relative;
            overflow: hidden;

            padding: 0.8em 1em;

            width: 100%;
            &:first-child {
                margin-right: 12px;
            }

            &._blue {
                &:hover {
                    background-color: rgba(197, 228, 243, 0.2);
                }
                div.ripple {
                    background-color: $activeButtonBgRipple;
                }
            }

            &__content {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: PT Root UI;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.25px;
                color: $disabledButtonBg;
                padding: 0 8px;
            }
        }
    }

    &__account-settings {
        background: #ffffff;
        border: 1px solid #ebedee;
        box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        //height: 160px;
        width: 208px;
        padding: 16px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;

        &-separator {
            margin-top: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid #ebedee;
            width: 100%;
            display: block;
        }

        &-section {
            &-account {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.25px;
                color: #000000;
            }

            &-item {
                color: #000000;
                cursor: pointer;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.25px;
                margin-bottom: 16px;

                &:hover {
                    color: $activeButtonBg;

                    //background-color: #919191;
                }

                &-log-out {
                    cursor: pointer;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    letter-spacing: 0.25px;
                    line-height: 20px;
                    color: #cc0022;
                    margin-bottom: 0;
                }
                //&:not(:first-child) {
                //    padding: 0 12px;
                //}

                &:last-child {
                    margin-bottom: 0;
                }

                &-value {
                    margin-bottom: 16px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0.4px;
                    color: #96a1a7;
                }
            }
        }
    }

    &__user-assets {
        padding: 0 20px;
        &-panel {
            display: flex;
            border-bottom: 1px solid #ebedee;
            &-tab {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: $inactiveTab;
                cursor: pointer;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.25px;
                padding: 16px 24px;
                width: 50%;
                &._active {
                    color: $windowBgActive;
                    border-bottom: 2px solid $windowBgActive;
                    margin-bottom: -1px;
                }
            }
        }
        &-asset {
            align-items: center;
            border-bottom: 1px solid #ebedee;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            padding: 20px 0;

            &:last-child {
                margin-bottom: 20px;
            }
            &-number {
                display: flex;
                flex-direction: column;
                width: 100%;
                &-amount {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    color: #000000;
                }
                &-dollars {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.75px;
                    color: $inactiveTab;
                }
                &-income {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: right;
                    letter-spacing: 0.25px;
                    color: #00ac47;
                }
                &-expense {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: right;
                    letter-spacing: 0.25px;
                    color: #000000;
                }
            }
        }
    }
}
