@import '../../styles/colors';

.save-seed {
    &__content {
        display: flex;
        flex-direction: column;
        min-height: 448px;
        height: 100%;
        width: 100%;

        &-title {
            margin-bottom: 28px;
        }

        & ol {
            list-style: none;
            counter-reset: my-counter;
            list-style-position: outside;
            column-count: 2;

            & li {
                counter-increment: my-counter;

                &::before {
                    content: counter(my-counter) '. ';
                    color: black;
                    font-weight: bold;
                    width: 3em;
                    box-sizing: border-box;
                    display: inline-block;
                    padding: 0 4px;
                }
            }
        }

        &-word {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            margin-bottom: 8px;
            white-space: nowrap;
        }
    }
    &__buttons {
        display: flex;
        &-back-btn {
            width: 50%;
            margin-right: 12px;
        }
    }
}
