@import '../../styles/colors';
@import '../../styles/shared/animations';

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: button-ripple 600ms linear forwards;
    animation-iteration-count: 1;
}

.wrapper {
    width: 100%;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    position: relative;
    overflow: hidden;

    padding: 0.8em 1em;
    width: 100%;

    &._blue {
        background-color: $activeButtonBg;
        border: 1px solid $activeButtonBg;
        color: $activeButtonFg;
        &:hover {
            color: $activeButtonFgOver;
            background-color: $activeButtonBgOver;
        }
        span.ripple {
            background-color: $activeButtonBgRipple;
        }
    }

    &._white {
        background-color: $whiteButtonBg;
        border: 1px solid $whiteButtonBorder;
        color: $whiteButtonFg;
        &:hover {
            color: $whiteButtonFgOver;
            background-color: $whiteButtonBg;
        }
        span.ripple {
            background-color: $whiteButtonBgRipple;
        }
    }

    &._disabled {
        background-color: $disabledButtonBg;
        border: 1px solid $disabledButtonBg;
        cursor: not-allowed;
        &:hover {
            background-color: $disabledButtonBg;
        }
    }

    &._noborder {
        border: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__content {
        font-style: normal;
        font-family: 'PT Root UI', serif;
        font-weight: bold;
        z-index: 2;
    }
}
