@import '../../styles/colors';

.simple-input {
    background-color: $windowBg;
    border: 1px solid #ebedee;
    box-sizing: border-box;
    color: $windowBgActive;
    display: block;
    font-family: 'PT Root UI', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 20px;
    height: 48px;
    outline: none;
    padding: 0 45px 0 8px;
    width: 100%;
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none;

    &:focus {
        border-bottom: 1px solid $windowBgActive;
    }

    &:hover {
        border: 1px solid hsl(0, 0%, 70%);
    }

    &::placeholder {
        color: #96a1a7;
    }

    :-ms-input-placeholder {
        color: #96a1a7;
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
