@import "../../styles/colors";

.account-details {
    background-color: $mainDarkBg;
    box-sizing: border-box;
    //padding: 16px 20px 28px; // TODO: use with navigation
    padding: 16px 20px 24px;
    height: 397px;

    &__top-panel {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__notification-bell {
        cursor: pointer;
    }

    &__profile-icon {
        cursor: pointer;
        position: relative;
    }

    &__controls {
        display: flex;

        &__button {
            $accountButtonBg: rgba(197, 228, 243, 0.1);
            $accountButtonBgHover: rgba(197, 228, 243, 0.15);

            display: flex;
            background: $accountButtonBg;
            flex-direction: row;
            justify-content: center;
            align-content: center;

            position: relative;
            overflow: hidden;

            padding: 0.8em 1em;
            width: 100%;

            &:not(:last-child) {
                margin-right: 12px;
            }

            &:hover {
                background-color: $accountButtonBgHover;
            }

            span.ripple {
                background-color: $accountButtonBg;
            }

            &__content {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: PT Root UI, serif;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.25px;
                color: $disabledButtonBg;
                padding: 0 8px;
            }
        }
    }
}
