@import '../../../styles/colors';

.change-account {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: $windowBg;

	&__header {
		background: #fff;
		box-shadow: 0 10px 15px 10px #fff;
		margin-bottom: 32px;
		padding: 32px 20px 0;
		position: sticky;
		top: 0;
		z-index: 100;

		&-title { margin: 0; }
	}

	&__wrapper {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100%;
		padding: 0 20px;
	}

	&__footer {
		background: #fff;
		bottom: 0;
		box-shadow: 0 -10px 15px 10px #fff;
		display: flex;
		margin: 32px 0 0;
		padding: 0 0 32px;
		position: sticky;
		z-index: 100;
		column-gap: 12px;

		> * { width: 100%; }

		&-button-back {
			width: 100px;
			min-width: 100px;
		}
	}

	&__origin-source {
        align-items: center;
        display: flex;
        margin-bottom: 20px;
        width: 100%;

		&-value {
			color: #7d8b92;
			font-size: 16px;
			font-weight: normal;
			line-height: 20px;
			padding: 0 16px;
		}
	}

	&__accounts-list-item {
		align-items: center;
		border-bottom: 1px solid #ebedee;
		color: $windowFg;
		cursor: pointer;
		display: flex;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 16px;
		padding-bottom: 16px;

		&:hover { color: $activeButtonBg; }
	}

	&__account {
		&-scope {
			cursor: pointer;
			padding: 0 12px;
		}

		&-name {
			font-weight: 700;
			font-size: 16px;
			line-height: 20px;
			color: $windowFg;
		}

		&-balance {
			font-size: 12px;
			line-height: 16px;
			color: #96a1a7;
		}
	}

	&_connecting {
		display: flex;
		height: 100%;
	}

	&__connecting {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;

		&-heading { margin-bottom: 48px; }

		&-process {
			align-items: center;
			display: flex;
			justify-content: space-around;
			width: 100%;
		}
	}
}
