.select-ledger-account {
    &__title {
        margin-bottom: 20px;
    }

    &__buttons {
        display: flex;

        &-next {
            width: 66%;
        }

        &-back {
            width: 33%;
            margin-right: 12px;
        }
    }
}
