.select-ledger-account {
    &__title {
        margin-bottom: 20px;
    }

    &__nav {
        border-bottom: 1px solid #ebedee;
        display: flex;
        justify-content: space-between;
        padding-bottom: 6px;
        width: 100%;

        &-page {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            color: #96a1a7;
            padding: 0 12px;
        }

        &-button {
            cursor: pointer;
            height: 32px;

            &:hover {
                background: rgba(0, 136, 204, 0.1);
                border-radius: 50%;
                transition: 400ms ease-in;
            }

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    &__account {
        border-bottom: 1px solid #ebedee;
        display: flex;
        align-items: center;
        padding: 14px 20px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.25px;

        &-selected {
            background: rgba(0, 136, 204, 0.2);
        }

        &:last-child {
            margin-bottom: 48px;
        }

        &-avatar {
            margin-right: 12px;
        }

        &-index {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            color: #96a1a7;
            margin-right: 16px;
        }

        &-public-key {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #000000;
        }

        &-grey {
            color: #96a1a7;
        }
    }

    &__buttons {
        display: flex;

        &-next {
            width: 66%;
        }

        &-back {
            width: 33%;
            margin-right: 12px;
        }
    }
}
