.approval--add-tip3-token {
    &__token-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        word-break: normal;

        .root-token-icon {
            width: 24px;
            height: 24px;
            margin-right: 12px;

            .outdated-asset-badge::before {
                content: '';
                height: 8px;
                width: 8px;
                top: -8px;
                border-radius: 50%;
            }
        }

        .root-token-name {
            width: 100%;
            text-overflow: ellipsis;
        }
    }
}
