@import '../../styles/colors';

.welcome-page {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    hr {
        height: 1px;
        background: $whiteButtonBorder;
        border: 0;
        margin-top: 0;
        margin-bottom: 12px;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 28px 28px;

        &-header-xl {
            top: 12px;
            margin-bottom: 60px;
            text-align: center;
        }

        &-checkbox {
            display: flex;
            margin-top: auto;

            &-label {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                color: #000000;

                &--link {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        &-button {
            margin-bottom: 12px;
        }

        &-illustration {
            top: 216px;
        }
    }
}

.welcome-page-header {
  background-color: #2B3363;
  height: 40px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
}

.welcome-page-header-inner {
  width: min(90vw, 600px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 28px;

  .lang-switcher {
	display: flex;
	gap: 16px;
	> .active > a {
	  opacity: 1;
	}
  }

  a {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 40px;
	opacity: 0.8;
  }
}
