@import '../../styles/colors';

.enter-password {
    padding: 20px;
    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-pwd-form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-title {
                margin-bottom: 28px;
            }

            &-ledger {
                padding-right: 26px;
            }

            .error-message {
                margin-top: 28px;
            }

            input {
                cursor: text;
            }
        }
    }
    &__buttons {
        background: #fff;
        bottom: 0;
        box-shadow: 0 -10px 15px 10px #fff;
        display: flex;
        margin: 32px 0 0;
        padding: 0;
        position: sticky;
        z-index: 1;
        column-gap: 12px;

        > * { width: 100%; }

        &-button-back {
            width: 100px;
            min-width: 100px;
        }
    }
}
