@import '../../styles/colors';

.account-card {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
                    239.75deg,
                    rgba(255, 255, 255, 0) 26.52%,
                    rgba(255, 255, 255, 0.12) 100%
    );
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    border-radius: 6px;
    height: 188px;
    max-width: 320px;

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        width: 100%;

        &-details {
            &-name {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                color: $accountName;
                margin-bottom: 6px;
            }

            &-public-key {
                color: $accountTextFg;
                display: flex;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                margin-bottom: 4px;

                &-value {
                    cursor: pointer;
                    opacity: 0.64;
                    padding-left: 16px;

                    &:active {
                        cursor: copy;
                    }
                }
            }
        }

        &-balance {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: $accountBalance;
            white-space: nowrap;

            &--resized {
                font-size: 22px;

                & > span {
                    font-size: 16px;
                }
            }
        }
    }

    &__pattern {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
        position: relative;
        width: 130px;

        &-ellipsis {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    &__context-menu {
        position: relative;

        &__content {
            position: absolute;

            top: 52px;
            right: 32px;

            border-radius: 2px;
            z-index: 9;
            background: $windowBg;
            border: 1px solid $modalBorder;
            box-shadow: 0 4px 19px rgb(0 0 0 / 25%);
            padding: 10px;
        }

        &__header {
            font-size: 12px;
            font-weight: bold;
            line-height: 20px;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            color: $accountHeader;
            max-width: 100%;
            margin-bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &__separator {
            margin: 16px -16px;
            border-bottom: 1px solid $modalBorder;
            min-width: 100%;
            display: block;
        }

        &__item {
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0.25px;
            line-height: 14px;
            margin-bottom: 0;

            &.remove {
                color: #cc0022;
            }

            &:hover {
                font-weight: bold;
            }
        }
    }
}
