@import '../../styles/colors';

.account-card {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
        239.75deg,
        rgba(255, 255, 255, 0) 26.52%,
        rgba(255, 255, 255, 0.12) 100%
    );
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    border-radius: 6px;
    height: 188px;
    width: 320px;
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;

        &-details {
            &-name {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                color: $accountName;
                margin-bottom: 6px;
            }
            &-public-key {
                color: $accountTextFg;
                display: flex;
                font-style: normal;
                font-weight: normal;
                justify-content: space-between;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                margin-bottom: 4px;
                &-value {
                    cursor: pointer;
                    opacity: 0.64;
                    padding-left: 16px;
                }
            }
        }
        &-balance {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: $accountBalance;
            &-decimals {
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.5px;
            }
        }
    }
    &__pattern {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
        position: relative;
        &-ellipsis {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}
