.transactions-list-empty {
    color: #abb4b8;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.25px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    padding: 20px 0;
}
