@import 'src/popup/styles/colors';

textarea {
    background-color: $windowBg;
    border: 1px solid #ebedee;
    box-sizing: border-box;
    color: #000000;
    display: block;
    font-family: 'PT Root UI', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 20px;
    height: 48px;
    outline: none;
    padding: 16px;
    width: 100%;
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none;
}

.words-count {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.75px;
    color: $inactiveTab;
}
