
@font-face {
  font-family: 'DAOpenSans';
  font-weight: normal;
  src: url('../fonts/DAOpenSansRegular.ttf');
}

@font-face {
  font-family: 'DAOpenSans';
  font-weight: 600;
  src: url('../fonts/DAOpenSansSemibold.ttf');
}

@font-face {
  font-family: 'DAOpenSans';
  font-weight: bold;
  src: url('../fonts/DAOpenSansBold.ttf');
}
