// basic
$windowBg: #ffffff; // white: fallback for background
$windowFg: #000000; // black: fallback for text
$windowBgOver: #f1f1f1; // light gray: fallback for background with mouse over
$windowBgRipple: #e5e5e5; // darker gray: fallback for ripple effect
$windowFgOver: $windowFg; // black: fallback for text with mouse over
$windowSubTextFg: #999999; // gray: fallback for additional text
$windowSubTextFgOver: #919191; // darker gray: fallback for additional text with mouse over
$windowBoldFg: #222222; // dark gray: fallback for bold text
$windowBoldFgOver: #222222; // dark gray: fallback for bold text with mouse over
$windowBgActive: #0088cc; // bright blue: fallback for blue filled active areas
$windowFgActive: #ffffff; // white: fallback for text on active areas
$windowActiveTextFg: #168acd; // online blue: fallback for active text like online status
$windowShadowFg: #000000; // black: fallback for shadow
$windowShadowFgFallback: #f1f1f1; // gray: fallback for shadow without opacity

$shadowFg: #00000018; // most shadows (including opacity)

$walletTitleBg: #121213; // wallet window title background when window is inactive
$walletTopBg: #1e1f21; // wallet top part background

$mainHeader: #293166;
// widgets
$activeButtonBg: $windowBgActive; // default active button background
$activeButtonBgOver: #027bb8; // default active button background with mouse over
$activeButtonBgRipple: #2095d0; // default active button ripple effect
$activeButtonFg: $windowFgActive; // default active button text
$activeButtonFgOver: $activeButtonFg; // default active button text with mouse over
$activeButtonSecondaryFg: #cceeff; // default active button additional text (selected messages counter in forward / delete buttons)
$activeButtonSecondaryFgOver: $activeButtonSecondaryFg; // default active button additional text with mouse over
$activeLineFg: #37a1de; // default active line (like code input field bottom border when you log in and field is focused)
$activeLineFgError: #e48383; // default active line for error state (like code input field bottom border when you log in and you've entered incorrect code)

$illustrationBg: #fcf6f3;

$whiteButtonBg: #ffffff;
$whiteButtonFg: $windowBgActive;
$whiteButtonFgOver: #027bb8;
$whiteButtonBorder: rgba(0, 136, 204, 0.2);
$whiteButtonBgRipple: $whiteButtonBorder;

$disabledButtonBg: #919191;

$lightButtonBg: $windowBg; // default light button background (like buttons in boxes)
$lightButtonBgOver: #e3f1fa; // default light button background with mouse over
$lightButtonBgRipple: #c9e4f6; // default light button ripple effect
$lightButtonFg: $windowActiveTextFg; // default light button text
$lightButtonFgOver: $lightButtonFg; // default light button text with mouse over

$attentionButtonFg: #d14e4e; // default attention button text (like confirm button on log out)
$attentionButtonFgOver: #d14e4e; // default attention button text with mouse over
$attentionButtonBgOver: #fcdfde; // default attention button background with mouse over
$attentionButtonBgRipple: #f4c3c2; // default attention button ripple effect

$menuBg: $windowBg; // default popup menu background
$menuBgOver: $windowBgOver; // default popup menu item background with mouse over
$menuBgRipple: $windowBgRipple; // default popup menu item ripple effect
$menuIconFg: #a8a8a8; // default popup menu item icon (like main menu)
$menuIconFgOver: #999999; // default popup menu item icon with mouse over
$menuSubmenuArrowFg: #373737; // default popup menu submenu arrow icon (like in message field context menu in case of RTL system language)
$menuFgDisabled: #cccccc; // default popup menu item disabled text (like unavailable items in message field context menu)
$menuSeparatorFg: #f1f1f1; // default popup menu separator (like in message field context menu)

$scrollBarBg: #00000053; // default scroll bar current rectangle, the bar itself (like in chats list)
$scrollBarBgOver: #0000007a; // default scroll bar current rectangle with mouse over it
$scrollBg: #0000001a; // default scroll bar background
$scrollBgOver: #0000002c; // default scroll bar background with mouse over the scroll bar

$smallCloseIconFg: #c7c7c7; // small X icon (like in Show all sessions box to the right for sessions termination)
$smallCloseIconFgOver: #a3a3a3; // small X icon with mouse over

$radialFg: $windowFgActive; // default radial loader line (like in Media Viewer when loading a photo)
$radialBg: #00000056; // default radial loader background (like in Media Viewer when loading a photo)

$placeholderFg: $windowSubTextFg; // default input field placeholder when field is not focused (like in phone input field when you log in)
$placeholderFgActive: #aaaaaa; // default input field placeholder when field is focused
$inputBorderFg: #e0e0e0; // default input field bottom border (like in code input field when you log in and field is not focused)
$filterInputBorderFg: #54c3f3; // default rounded input field border (like in chats list search field when field is focused)
$filterInputActiveBg: $windowBg; // default rounded input field active background (like in chats list search field when field is focused)
$filterInputInactiveBg: $windowBgOver; // default rounded input field inactive background (like in chats list search field when field is inactive)
$checkboxFg: #b3b3b3; // default unchecked checkbox rounded rectangle
