@import "fonts";
@import "reset";
@import "colors";

$font-family: 'DAOpenSans', serif;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: $font-family;
}

* {
  box-sizing: border-box;
}

body {
  width: 392px;
  height: 520px;
  line-height: 1.3;
  font-size: 1.2em;
}

.noselect {
  user-select: none;
}

#root {
  width: 100%;
  height: 100%;
  background-color: $walletTopBg;
}
