@import '../../styles/colors';

.sliding-panel {
    &__wrapper {
        width: 100%;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        z-index: 20;
        &:hover > .sliding-panel__content {
            top: 0;
        }
    }
    &__content {
        top: 100%;
        position: relative;
        transition: all 0.3s ease-out;
        background: $windowBg;
        padding: 0 20px 20px;
        height: auto;
        width: 100%;
    }
}
