@import '../../styles/colors';

.sliding-panel {
    &__wrapper {
        background-color: rgba(0, 0, 0, 0.7);
        bottom: 0;
        filter: blur(0);
        height: 100%;
        overflow: hidden;
        position: fixed;
        width: 100%;
        z-index: 20;
        top: 0;
        left: 0;
        transform: translateY(100%);
        transition: transform 500ms ease;
        &._active {
            transform: translateY(0);
        }
    }

    &__content {
        bottom: 0;
        position: absolute;
        background: $windowBg;
        padding: 0 14px 20px;
        height: auto;
        width: 100%;
        &-header {
            background: $windowBg;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 16px 0 0;
            width: 100%;
        }
    }
}
