@import '../../styles/colors';

.user-assets {
    padding: 0 20px;
    background-color: $windowBg;

    &__panel {
        top: 0;
        display: flex;
        position: sticky;
        border-bottom: 1px solid #ebedee;
        background: white;
        z-index: 1;

        &__tab {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: $inactiveTab;
            cursor: pointer;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.25px;
            padding: 16px 0;
            width: 50%;

            &:hover {
                color: $windowBgActive;
            }

            &._active {
                color: $windowBgActive;
                border-bottom: 2px solid $windowBgActive;
                margin-bottom: -1px;
            }
        }
    }

    &__assets-list {
        display: flex;
        flex-direction: column;
        justify-content: center;

        z-index: -1; // to allow sticky tabs work

        .assets-list-item:last-child {
            margin-bottom: 20px;
        }

        &__add-new-btn {
            margin-bottom: 16px;
        }

        //div:nth-last-of-type(3) {
        //    border-bottom: none;
        //}
    }

    &__transactions-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        //position: relative;

        z-index: -1; // to allow sticky tabs work
    }
}
