.send-screen {
    &__account_details {
        display: flex;
        align-items: center;
        margin-bottom: 28px;
        &-userpic {
            margin-right: 16px;
        }
        &-title {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #293166;
            padding: 0 12px;
        }
    }

    &__form {
        &-title {
            margin-bottom: 28px;
        }

        &-token-dropdown {
            margin-bottom: 20px;
        }

        input {
            cursor: text;
        }

        &-balance {
            font-family: PT Root UI, serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            color: #96a1a7;
            margin-bottom: 20px;
        }

        &-error {
            display: block;
            width: 100%;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.4px;
            margin-top: -16px;
            color: darkred;
        }

        &-comment {
            margin-bottom: 40px;
        }

        &-tx-details {
            background: #f8f9f9;
            margin-bottom: 28px;

            &-param {
                display: flex;
                justify-content: space-between;
                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                &-desc {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                    color: #7d8b92;
                }

                &-value {
                    font-family: PT Root UI, serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                    color: #000000;
                }
            }
        }
    }

    &__tx-sending {
        width: 320px;
        height: 160px;
        left: 20px;
        top: 372px;
        background: #fcf6f3;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
