@import '../../styles/colors';

.assets-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 1em;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        color: $windowBg;
        font-weight: normal;
        font-size: 1.1em;
        width: 100%;
    }
}
