@import '../../styles/colors';

.create-seed {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 100%;

		&-title {
			margin-top: -15px;
			margin-bottom: 20px;
		}

		&-form-rows {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			row-gap: 20px;

			.simple-input {
				margin-bottom: 0;
			}
		}

		&-buttons {
			margin-top: 40px;
			display: flex;

			> * { width: 100%; }

			&-back-btn {
				width: 50%;
				margin-right: 12px;
			}
		}

		& ol {
			counter-reset: my-counter;
			list-style: none outside none;
			column-count: 2;
			margin-top: 20px;
			margin-bottom: 20px;

			& li {
				counter-increment: my-counter;

				&::before {
					content: counter(my-counter) '. ';
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 20px;
					letter-spacing: 0.25px;
					color: #96a1a7;
					flex: none;
					order: 0;
					flex-grow: 0;
					margin: 0 0;
					width: 3em;
					box-sizing: border-box;
					display: inline-block;
					padding: 0 4px;
				}
			}
		}

		&-word {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0.25px;
			margin-bottom: 12px;
			white-space: nowrap;
		}
	}
}
