@import '../../styles/colors';

.transactions-list-item {
    border-bottom: 1px solid #ebedee;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    //position: relative;

    &__amount {
        display: flex;
        width: 100%;
    }

    &__logo {
        margin-right: 16px;

        img, svg {
            min-width: 36px;
            width: 36px;
            height: 36px;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        width: 100%;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.75px;
    }

    &__tooltip {
        max-width: 260px;
        word-break: break-all;
        padding: 12px !important;
    }

    &__fees {
        color: $txFee;
        margin-bottom: 8px;
        white-space: nowrap;
    }

    &__address {
        color: #000000;
        padding-left: 52px;

        position: relative;

        &::after {
            content: attr(data-tooltip);

            opacity: 0;
            visibility: hidden;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 6px 12px;

            position: absolute;
            height: 44px;

            top: 20px;
            left: 0;

            color: white;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(20px);

            border-radius: 2px;
            white-space: pre-line;
        }

        &:hover::after {
            opacity: 1;
            visibility: visible;
        }
    }

    &__income {
        font-weight: bold;
        color: #00ac47;
    }

    &__expense {
        font-weight: bold;
        color: #cc0022;
    }

    &__date {
        width: auto;
    }
}
