@import '../../styles/colors';

.deploy-wallet__page {
    padding: 32px 20px;
    .deploy-wallet {
        &__content {
            &-title {
                margin-top: 0;
            }
        }
    }
}

.deploy-wallet {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100%;

    &__header {
        align-items: center;
        background: #fff;
        box-shadow: 0 10px 15px 10px #fff;
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        padding: 20px 20px 0;
        position: sticky;
        top: 0;
        z-index: 1;

        &-title {
            align-self: start;
            color: $windowFg;
            font-size: 24px;
            font-weight: bold;
            line-height: 32px;
            margin: 0;
        }

        &-subtitle {
            margin-top: 10px;
        }
    }

    &__wrapper {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
        padding: 0 20px;
    }

    &__footer {
        background: #fff;
        bottom: 0;
        box-shadow: 0 -10px 15px 10px #fff;
        display: flex;
        margin: 32px 0 0;
        padding: 0 0 20px;
        position: sticky;
        z-index: 1;
        column-gap: 12px;

        > * { width: 100%; }

        &-button-back {
            width: 100px;
            min-width: 100px;
            margin-right: 12px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        &-title {
            margin-top: -15px;
            margin-bottom: 20px;
        }

        &-header {
            font-family: 'PT Root UI', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            color: $seedsHeader;
            margin-bottom: 4px;

            &--lead {
                font-size: 18px;
                line-height: 24px;
                font-weight: bold;
                letter-spacing: 0.75px;
                color: #000000;
                margin-top: 20px;
                margin-bottom: 8px;
            }
        }

        &-wallet-type-select {
            margin-bottom: 20px;
        }

        &-form-rows {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .simple-input {
                margin-bottom: 0;
            }
        }

        &-form-add-field {
            cursor: pointer;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
        }

        &-buttons {
            margin-top: 40px;
            display: flex;
            position: relative;

            > * { width: 100%; }

            &-back-btn {
                width: 100px;
                min-width: 100px;
                margin-right: 12px;
            }
        }

        &-error {
            display: block;
            width: 100%;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.4px;
            color: darkred;
            margin-top: 10px;
        }

        &-error + &-error {
            margin-top: 10px;
        }
    }

    &__field-confirms {
        position: relative;

        .simple-input {
            margin-bottom: 0;
            padding-right: 155px;
        }
    }

    &__field {
        position: relative;

        &--removable {
            .simple-input {
                margin-bottom: 0;
            }
        }
    }

    &__field-delete {
        background: #fff;
        color: #cc0022;
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 16px;
        box-shadow: -20px 0 25px 15px #fff;
    }

    &__field-placeholder {
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 16px;
    }

    &__details {
        background: $lightGreyBg;
        padding: 20px;

        &-param {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 16px;
                border-bottom: 1px solid #ebedee;
            }

            &:last-child {
                > *:last-child {
                    margin-bottom: 0;
                }
            }

            &-desc {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                margin-bottom: 4px;
                color: #7d8b92;
            }

            &-value {
                color: $windowFg;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                margin-bottom: 16px;
                word-break: break-all;
            }

            &-data {
                font-family: PT Mono, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.75px;
                color: $windowFg;

                &:last-child {
                    margin-bottom: 0;
                }

                &__method {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 8px;
                }

                &__block {
                    background: #e9e9e9;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 8px;
                    padding: 12px;

                    &--param-name {
                        font-weight: bold;
                    }

                    &--value {
                        word-break: break-all;
                    }
                }
            }
        }
    }

    &__qr-address-placeholder {
        background: #f8f9f9;
        border: 1px solid #dde1e2;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.25px;
        word-break: break-all;
        margin-bottom: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__qr-address-code {
        background: #fff;
        padding: 10px;
        height: 100px;
        width: 100px;
    }

    &__qr-address-address {
        margin-left: 10px;
    }

    &__comment {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #000000;
        margin-bottom: 20px;
    }
}
