.deploy-wallet {
    &__comment {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #000000;
        margin-bottom: 20px;
    }
}
