@import '../../styles/colors';

a {
    text-decoration: none;

    font-family: 'PT Root UI', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: $windowBgActive;
}

.transaction-info {
    padding: 20px;

    &-title {
        margin-bottom: 28px;
    }

    &-tx-details {
        margin-bottom: 28px;

        &-separator {
            background: #ebedee;
            height: 1px;
            width: 100%;
            margin-bottom: 16px;
        }

        &-param {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &:not(:last-child) {
                margin-bottom: 16px;
            }

            &-desc {
                align-items: center;
                display: flex;
                column-gap: 10px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                margin-bottom: 4px;
                color: #7d8b92;
            }

            &-value {
                color: #000000;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                word-break: break-all;

                &--amount {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    word-break: normal;

                    .root-token-icon {
                        width: 20px;
                        height: 20px;
                        margin-right: 0.5rem;

                        .outdated-asset-badge::before {
                            content: '';
                            height: 8px;
                            width: 8px;
                            top: -8px;
                            border-radius: 50%;
                        }
                    }

                    .root-token-name {
                        width: 100%;
                        text-overflow: ellipsis;
                    }
                }
            }

            &-initiator,
            &-unsigned,
            &-signed {
                background-color: #00ac47;
                font-size: 12px;
                font-weight: normal;
                border-radius: 4px;
                padding: 4px;
                line-height: 16px;
                color: #fff;
            }
            &-unsigned {
                background-color: rgba(125, 139, 146, 0.75);
            }
            &-initiator {
                background-color: #E6AC00;
            }
        }
    }


    &-buttons {
        margin-top: 40px;
        display: flex;
        position: relative;

        > * { width: 100%; }

        &-back-btn {
            width: 100px;
            min-width: 100px;
            margin-right: 12px;
        }
    }

}
