@import '../../styles/colors';

a {
    text-decoration: none;

    font-family: PT Root UI;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: $windowBgActive;
}
