label,
label:before,
label:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$md-radio-checked-color: #0088cc;
$md-radio-border-color: #0088cc;
$md-radio-size: 20px;
$md-radio-checked-size: 10px;
$md-radio-ripple-size: 15px;

@keyframes ripple {
    0% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
    }

    50% {
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
    }

    100% {
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
    }
}

.radio-button {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border: 1px solid #dde1e2;
    margin-bottom: 10px;

    input[type='radio'] {
        display: none;

        &:checked + label::before {
            border-color: $md-radio-checked-color;
            animation: ripple 0.2s linear forwards;
        }

        &:checked + label::after {
            transform: scale(1);
        }
    }

    label {
        display: inline-block;
        //height: $md-radio-size;
        position: relative;
        padding: 20px ($md-radio-size + 20px) 0;
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: middle;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #000000;
        height: 60px;
        width: 100%;

        &::before,
        &::after {
            position: absolute;
            top: 20px;
            content: '';
            border-radius: 50%;
            transition: all 0.3s ease;
            transition-property: transform, border-color;
        }

        &::before {
            left: 0;
            top: 20px;
            width: $md-radio-size;
            height: $md-radio-size;
            border: 1px solid $md-radio-border-color;
        }

        &::after {
            top: $md-radio-size / 2 - $md-radio-checked-size / 2 + 20;
            left: $md-radio-size / 2 - $md-radio-checked-size / 2;
            width: $md-radio-checked-size;
            height: $md-radio-checked-size;
            transform: scale(0);
            background: $md-radio-checked-color;
        }
    }

    &-checked {
        background: #f9f9f9;
        border: 1px solid $md-radio-checked-color;
    }

    &:hover:not(&-checked):not(&-disabled) {
        border: 1px solid #abb4b8;
    }

    &-disabled {
        border-color: #dde1e2;
        cursor: not-allowed;
        opacity: 0.6;

        label {
            cursor: not-allowed;

            &::before {
                border-color: #dde1e2;
            }
        }
    }
}
