@import '../../styles/colors';

.key-storage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 448px;
    position: relative;
    &__title {
        margin-bottom: 16px;
        padding-bottom: 28px;
        border-bottom: 1px solid #ebedee;
    }
    &__key {
        display: flex;
        align-items: center;
        &-text-block {
            max-width: 300px;
            &-header {
                color: #000000;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.5px;
                margin-bottom: 8px;
            }
            &-key {
                color: #0088cc;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.25px;
                word-break: break-all;
                margin-bottom: 10px;
            }
            &-account {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                color: #000000;
            }
        }
        &-ellipsis {
            cursor: pointer;
            position: relative;
        }
        &-modal-content {
            color: #000000;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            min-width: 150px;
            &:hover {
                color: $activeButtonBg;
            }
            &:not(:last-child) {
                margin-bottom: 28px;
            }
        }
    }
}
