@font-face {
    font-family: 'PT Root UI';
    font-weight: normal;
    src: url(../fonts/PT-Root-UI-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'PT Root UI';
    font-weight: 500;
    src: url(../fonts/PT-Root-UI-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'PT Root UI';
    font-weight: bold;
    src: url(../fonts/PT-Root-UI-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'PT Mono';
    font-weight: normal;
    src: url(../fonts/PTMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'PT Mono';
    font-weight: bold;
    src: url(../fonts/PTMono-Bold.ttf) format('truetype');
}
