@import 'fonts';
@import 'reset';
@import 'colors';

$font-family: 'PT Root UI', serif;

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: $font-family;
}

* {
    box-sizing: border-box;
}

body {
    width: 360px;
    height: 600px;
    line-height: 1.3;
    font-size: 1.2em;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.25px;
    color: $mainHeader;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: $mainHeader;
}

.noselect {
    user-select: none;
}

#root {
    width: 100%;
    height: 100%;
    background-color: $windowBg;
    overflow-y: scroll;
}
