@import 'fonts';
@import 'reset';
@import 'colors';

$font-family: 'PT Root UI', serif;

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: $font-family;
    overflow: hidden;
}

* { box-sizing: border-box; }

body {
    height: 100%;
    width: 100%;
    line-height: 1.3;
    font-size: 1.2em;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: $windowBg;

    *:not(.initial-scroll)::-webkit-scrollbar {
        width: 0;
    }
}

#root {
    width: 100%;
    min-height: 100vh;
    min-width: 360px;
}

.popup-view #root {
    min-height: 600px;
    overflow-y: auto;
}

.notification-view {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
}

body.fullscreen {
    width: 100%;
    height: 100%;
    align-items: center;

    #root {
        max-width: min(90vw, 600px);
        max-height: min(60vh, 600px);
    }
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.25px;
    color: $mainHeader;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: $mainHeader;
}

.noselect {
    user-select: none;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loader-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $mainLightAccent;

    &__spinner {
        stroke: $mainDarkAccent;
        width: 100px;
        height: 100px;
    }
}

.copy {
    cursor: copy;
}
