@import '../../styles/colors';

.add-new-token {
    &__panel {
        display: flex;
        border-bottom: 1px solid #ebedee;
        margin-bottom: 16px;
        &-tab {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: $inactiveTab;
            cursor: pointer;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.25px;
            padding: 16px 24px;
            width: 50%;
            &._active {
                color: $windowBgActive;
                border-bottom: 2px solid $windowBgActive;
                margin-bottom: -1px;
            }
        }
    }
    &__search {
        &-form {
            width: 320px;
            height: 40px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            border: none;
            color: #96a1a7;
            background: #f5f5f5;
            &:hover {
                border: none;
                background: rgba(0, 136, 204, 0.2);
            }
        }
    }
    &__custom {
        &-last-input {
            margin-bottom: 180px;
        }
    }
}
