@import '../../styles/colors';

.create-account-page {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //padding: 40px 28px 28px;
        height: 100%;
        width: 100%;

        &-pwd-title {
            color: $windowFg;
        }

        &-pwd-form {
            display: flex;
            flex-direction: column;
            height: 172px;
            justify-content: space-around;
        }
        &-buttons {
            display: flex;
            &-back-btn {
                width: 50%;
                margin-right: 12px;
            }
        }

        &-select-key {
            min-height: 448px;
            &-title {
                margin-bottom: 28px;
            }
        }
    }
    &__options {
        display: flex;

        &-icon {
            margin-bottom: 28px;
        }

        &-option {
            cursor: pointer;
            padding: 16px;
            display: flex;
            flex-direction: column;
            border: 1px solid #dde1e2;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            margin-bottom: 40px;
            color: #5e6e77;

            &:first-child {
                margin-right: 12px;
            }

            &:hover, &-selected {
                border: 1px solid rgba(0, 136, 204, 0.3);
                color: #0088cc;

                svg {
                    path,
                    rect {
                        fill: rgba(0, 136, 204, 1);
                    }
                }
            }
        }
    }
}
