@import '../../styles/colors';

.clickable-address {
    font-family: 'PT Root UI', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.75px;
    color: #000000;
    cursor: pointer;
    word-break: break-all;

    &:hover {
        //color: $activeButtonBg;
        text-decoration: underline;
    }
}
