@import '../../styles/colors';

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    margin-right: 16px;
    width: 19px;
    height: 19px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &_disabled {
        cursor: not-allowed;
        opacity: 0.3;
    }
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox-checkmark {
    background-color: $whiteButtonBorder;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox-checkmark {
    background-color: $windowBgActive;
    border: none;
    animation: wave 0.4s ease;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
    left: 7px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}
