@import '../../styles/colors';

.approve-send-message {
	display: flex;
	flex: 1;
	flex-direction: column;
	min-height: 100%;

	&__header {
		align-items: center;
		background: #fff;
		box-shadow: 0 10px 15px 10px #fff;
		display: flex;
		flex-direction: column;
		margin-bottom: 32px;
		padding: 20px 20px 0;
		position: sticky;
		top: 0;
		z-index: 1;

		&-title {
			align-self: start;
			color: $windowFg;
			font-size: 24px;
			font-weight: bold;
			line-height: 32px;
			margin: 0;
		}
	}

	&__wrapper {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100%;
		padding: 0 20px;
	}

	&__footer {
		background: #fff;
		bottom: 0;
		box-shadow: 0 -10px 15px 10px #fff;
		display: flex;
		margin: 32px 0 0;
		padding: 0 0 20px;
		position: sticky;
		z-index: 1;
		column-gap: 12px;

		> * { width: 100%; }

		&-button-back {
			width: 100px;
			min-width: 100px;
			margin-right: 12px;
		}
	}

	&__meta {
		align-items: center;
		border-bottom: 1px solid #ebedee;
		display: flex;
		justify-content: space-between;
		margin-bottom: 24px;
		padding-bottom: 16px;
		width: 100%;
	}

	&__account {
		align-items: center;
		display: flex;
		padding: 0 12px;
		white-space: nowrap;

		&-name {
			color: $windowFg;
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			padding: 0 8px;
		}
	}

	&__network {
		display: flex;
		font-size: 14px;
		font-weight: 500;
		justify-content: center;
		line-height: 20px;
		padding: 0 12px;
	}

	&__origin-source {
		align-items: center;
		color: $windowFg;
		display: flex;
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
		margin-bottom: 20px;
		width: 100%;

		&-value { padding: 0 16px; }
	}

	&__spend-details {
		background: $lightGreyBg;
		padding: 20px;

		&-param {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&:not(:last-child) {
				margin-bottom: 16px;
				border-bottom: 1px solid #ebedee;
			}

			&:last-child {
				> *:last-child {
					margin-bottom: 0;
				}
			}

			&-desc {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 0.75px;
				margin-bottom: 4px;
				color: #7d8b92;
			}

			&-value {
				color: $windowFg;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 0.75px;
				margin-bottom: 16px;
				word-break: break-all;
			}

			&-data {
				font-family: PT Mono, sans-serif;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 20px;
				letter-spacing: 0.75px;
				color: $windowFg;

				&:last-child {
					margin-bottom: 0;
				}

				&__method {
					display: flex;
					flex-direction: column;
					margin-bottom: 8px;
				}

				&__block {
					background: #e9e9e9;
					display: flex;
					flex-direction: column;
					margin-bottom: 8px;
					padding: 12px;

					&--param-name {
						font-weight: bold;
					}

					&--value {
						word-break: break-all;
					}
				}
			}
		}
	}
}

.approve-send-message {
	.enter-password {
		padding: 0;
	}
}
