@import '../../styles/colors';

.sliding-panel {
    &__fade-in {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        transition: transform 200ms ease;
        width: 100%;
        z-index: 1;
    }

    &__wrapper {
        bottom: 0;
        filter: blur(0);
        height: 100%;
        position: fixed;
        width: 100%;
        z-index: 20;
        top: 0;
        left: 0;
        transform: translateY(100%);
        transition: transform 200ms ease;

        &__background {
            display: none;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: calc(100% + 100vh);

            background-color: rgba(0, 0, 0, 0);
            transition: background-color 200ms ease;
        }

        &._active {
            transform: translateY(0);

            &__background {
                display: block;
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
    }

    &__content {
        bottom: 0;
        position: absolute;
        background: $windowBg;
        padding: 0 20px 20px;
        height: auto;
        width: 100%;
        max-height: calc(100% - 60px);
        box-sizing: border-box;
        overflow-y: scroll;

        &-header {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 16px 0 0;
            width: 100%;
            position: sticky;
            z-index: 10;
            top: 0;
        }
    }
}
