.connect-ledger {
    &__icon {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        width: 100%;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__comment {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.25px;
        margin-bottom: 40px;
    }

    &__buttons {
        display: flex;

        &-next {
            width: 66%;
        }

        &-back {
            width: 33%;
            margin-right: 12px;
        }
    }
}
