@import 'src/popup/styles/colors';

.exported-seed {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    &__bg {
        width: 100%;
        height: 350px;
        z-index: -1;

        background-color: $illustrationBg;
        position: absolute;
    }

    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 28px 28px;

        &-form {
            margin-bottom: auto;
        }

        &-title {
            margin-bottom: 28px;
        }

        & ol {
            counter-reset: my-counter;
            list-style: none outside none;
            column-count: 2;

            & li {
                counter-increment: my-counter;

                &::before {
                    content: counter(my-counter) '. ';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                    color: #96a1a7;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    margin: 0 0;
                    width: 3em;
                    box-sizing: border-box;
                    display: inline-block;
                    padding: 0 4px;
                }
            }
        }

        &-word {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            margin-bottom: 12px;
            white-space: nowrap;
        }

        &-buttons {
            display: flex;
            flex-direction: column;

            & > *:not(:last-child),
            .panel {
                margin-bottom: 12px;
            }
        }
    }
}
