@import 'src/popup/styles/colors';

.select-wallet {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 28px 28px;
        top: 0;
        height: 100%;
        width: 100%;

        &-options {
            display: flex;
            flex-direction: column;

            &-title {
                margin-bottom: 28px;
            }
        }

        &-buttons {
            display: flex;
            flex-direction: column;

            button:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }
}
