@import 'src/popup/styles/colors';

.select-wallet {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__loader {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        height: 100%;
        width: 100%;

        &-options {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;

            &-title {
                margin-bottom: 28px;
            }
        }

        &-buttons {
            display: flex;
            flex-direction: column;

            button:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    .radio-button:not(.radio-button-checked) {
        background: white;
    }
}
