@import '../../styles/colors';

$walletTopBarHeight: 62px;

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: $walletTopBarHeight;

    background-color: $walletTitleBg;
    color: $windowBg;

    &__refresh {
        width: 30px;
        height: 30px;
    }
}
