@import '../../styles/colors';

.carousel {
    &__content {
        position: relative;
        overflow: hidden;
        height: 188px;
        width: 320px;

        &__slide {
            position: absolute;
            right: -320px;
            height: 188px;
            width: 320px;
            -webkit-animation: slide 0.2s forwards;
            -webkit-animation-delay: 0.2s;
            animation: slide 0.2s forwards;
            animation-delay: 0.2s;
        }
    }

    &__navigation {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 12px 0;

        &-dots {
            display: flex;
            align-items: center;

            &-elem {
                width: 6px;
                height: 6px;
                background: $accountNavElem;
                opacity: 0.32;
                border-radius: 50%;
                margin-right: 6px;

                &--active {
                    background: $accountNavElem;
                    width: 8px;
                    height: 8px;
                    opacity: 1;
                    border-radius: 50%;
                    margin-right: 6px;
                }
            }
        }

        &-arrows {
            display: flex;
            align-items: center;

            &-elem {
                align-items: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                width: 32px;
                height: 32px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                box-sizing: border-box;
                border-radius: 50%;

                &:not(:last-child) {
                    margin-right: 12px;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}

@-webkit-keyframes slide {
    100% {
        right: 0;
    }
}

@keyframes slide {
    100% {
        right: 0;
    }
}
