@import '../../styles/colors';

.connect-wallet {
    height: 100vh;
    &__top-panel {
        align-items: center;
        background-color: $mainDarkBg;
        display: flex;
        flex-direction: column;
        height: 269px;
        padding: 16px 20px 0;

        &__title {
            color: $accountName;
            font-style: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            width: 100%;
        }
        &__source {
            color: #c5e4f3;
            font-style: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            margin-bottom: 24px;
            opacity: 0.64;
            width: 100%;
        }
        &__balance {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: $accountBalance;
            width: 100%;
            &-decimals {
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.5px;
            }
        }
    }

    &__spend-top-panel {
        align-items: center;
        background-color: $mainDarkBg;
        display: flex;
        flex-direction: column;
        height: 337px;
        padding: 16px 20px 0;

        &__network {
            align-items: center;
            justify-content: space-between;
            display: flex;
            padding-bottom: 16px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.16);
            margin-bottom: 24px;
            width: 100%;
        }

        &__site {
            align-items: center;
            display: flex;
            color: #ffffff;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            margin-bottom: 20px;
            width: 100%;
        }

        &__header {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #ffffff;
            margin-bottom: 8px;
        }

        &__comment {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            color: #ffffff;
            opacity: 0.6;
        }
        &__account {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            color: #ffffff;
            padding: 0 8px;
        }
    }

    &__spend-details {
        padding: 20px;
        &-title {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.15px;
            margin-bottom: 10px;
            color: #000000;
        }
    }

    &__network {
        background: rgba(255, 255, 255, 0.16);
        border-radius: 91px;
        color: $windowBg;
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 30px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.75px;
        line-height: 20px;
        padding: 5px 10px;
        margin-bottom: 20px;
        width: 78px;
    }

    &__address {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.75px;
        color: $accountName;
        margin-bottom: 16px;
        padding-bottom: 18px;
        width: 100%;

        &-entry {
            display: flex;
            align-items: center;
            padding: 0 12px;
            white-space: nowrap;
        }
    }

    &__details {
        padding: 0 20px 20px;

        &__panel {
            display: flex;
            border-bottom: 1px solid #ebedee;
            margin-bottom: 20px;

            &__tab {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: $inactiveTab;
                cursor: pointer;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.25px;
                padding: 16px 24px;
                width: 50%;

                &._active {
                    color: $windowBgActive;
                    border-bottom: 2px solid $windowBgActive;
                    margin-bottom: -1px;
                }
            }
        }

        &__description {
            padding: 20px;
            background: #f8f9f9;
            margin-bottom: 28px;

            &-param {
                display: flex;
                justify-content: space-between;
                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                &-desc {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                    color: #7d8b92;
                }

                &-value {
                    font-family: PT Root UI, serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                    color: #000000;
                }
            }
        }
        &__data {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            height: 180px;
            overflow: scroll;
            color: #000000;
            padding-bottom: 20px;
            width: 100%;
            //max-width: 360px;
            word-break: break-word;
        }
    }

    &__buttons {
        display: flex;
        padding: 0 20px 28px;

        &-button {
            width: 100%;
            &:not(last-child) {
                margin-right: 12px;
            }
        }
    }

    &-select-account {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px 20px;
        height: 100%;

        &__title {
            margin-bottom: 32px;
        }

        &-source {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #7d8b92;
            padding: 0 16px;
        }
        &__item {
            align-items: center;
            border-bottom: 1px solid #ebedee;
            display: flex;
            color: $windowFg;
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            margin-bottom: 16px;
            padding-bottom: 16px;

            &:hover {
                color: $activeButtonBg;

                //background-color: #919191;
            }
            &-select {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.25px;
                color: #96a1a7;
                margin-bottom: -6px;
            }

            &-value {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.4px;
                color: #96a1a7;
            }
        }
    }
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        opacity: 0.2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        opacity: 0.2;
    }
}

.process span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.process span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: 0.2s;
}

.process span:nth-child(3) {
    animation-delay: 0.4s;
}
.process span:nth-child(4) {
    animation-delay: 0.6s;
}
.process span:nth-child(5) {
    animation-delay: 0.8s;
}
.process span:nth-child(6) {
    animation-delay: 1s;
}
