@import 'src/popup/styles/colors';

.policy-sign-page {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        margin-bottom: 1em;
    }

    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 28px 28px;

        svg {
            margin-top: auto;
        }

        &-checkbox {
            display: flex;
            margin-top: auto;

            &-label {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                color: #000000;

                &--link {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        &-button {
            margin-bottom: 12px;
        }
    }
}
