@import '../../styles/colors';

.manage-account {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 100%;

		&-title {
			margin-top: -15px;
			margin-bottom: 20px;
		}

		&-header {
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.75px;
			color: $seedsHeader;
			margin-top: 8px;
			margin-bottom: 8px;
		}

	}

	&__account-visibility {
		font-size: 16px;
		line-height: 20px;
		margin: 16px 16px 16px 0;
		display: flex;
		flex-direction: row;
		align-items: center;

		.switcher {
			margin-right: 16px;
		}
	}

	&__qr-address-placeholder {
		background: #f8f9f9;
		border: 1px solid #dde1e2;
		box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.25px;
		word-break: break-all;
		margin-bottom: 12px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	&__qr-address-code {
		height: 80px;
		width: 80px;
	}

	&__qr-address-address {
		margin-left: 10px;
	}

	&__account-name-field {
		position: relative;

		.simple-input {
			margin-bottom: 0;
		}
	}

	&__account-name-button {
		font-weight: bold;
		font-size: 16px;
		cursor: pointer;
		position: absolute;
		top: 14px;
		right: 16px;
	}

	&__list {
		margin: 0;

		&-item {
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 12px 0;
			font-family: 'PT Root UI', sans-serif;
			font-size: 16px;
			font-style: normal;
			line-height: 20px;
			letter-spacing: 0.25px;

			&-title {
				font-weight: normal;
				color: $seedsListItem;
				margin: 0 16px;
				width: 100%;
			}

			&-logo {
				height: 24px;
				width: 24px;
			}

			> a {
				cursor: pointer;
				font-weight: bold;
			}
		}

		li + li {
			border-top: 1px solid $seedsListBorder;
		}
	}

	&__divider {
		margin: 0 -20px;
		border-top: 1px solid $seedsDividerBorder;
		height: 0;
	}
}
