@import '../../styles/colors';

.create-derived-key {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 100%;

		&-title {
			margin-top: -15px;
			margin-bottom: 20px;
		}

		&-form-rows {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			row-gap: 20px;

			.simple-input {
				margin-bottom: 0;
			}
		}

		&-buttons {
			margin-top: 40px;
			display: flex;

			> * { width: 100%; }

			&-back-btn {
				width: 50%;
				margin-right: 12px;
			}
		}
	}
}
