@import '../../../../styles/colors';

.assets-list-item {
    align-items: center;
    border-bottom: 1px solid #ebedee;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    &__logo {
        margin-right: 16px;
        min-width: 40px;
        width: 40px;
        height: 40px;
    }

    &__icon {
        margin-right: 16px;
        min-width: 36px;
        width: 36px;
        height: 36px;
    }

    &__balance {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__amount {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #000000;
        }

        &__dollars {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            color: $inactiveTab;
        }

        &-income {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            letter-spacing: 0.25px;
            color: #00ac47;
        }

        &-expense {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            letter-spacing: 0.25px;
            color: #000000;
        }
    }
}
